doctype html
html
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap' rel='stylesheet')  
    head
        link(rel='icon', href='./public/images/icons/it_logo.png')
        title Face Verification Explainability Performance Subjective Assessment
    style
        include style.css
    body(style='margin: 0; background-color: #ececec; display:flex; flex-direction: column; justify-content: space-evenly;  height: 100vh;')
    - var onOver_R = "imgR.className='img-go'"   
    - var onOver_L = "imgL.className='img-go'"
    - var onOver_M = "imgL.className='img-go'; imgR.className='img-go'"
    - var onOut_L = "imgL.className='' "
    - var onOut_R = "imgR.className='' "
    - var onOut_M = "imgL.className='' ; imgR.className=''"

    div(class='question')
        div(class='TestSplitLeft', style='width: 55%;')
            div(class='top')
        
                p(style='margin-top: 120px; font-size: 1.1em')
                p1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Probe Image
                p2 Gallery Image
            
                #testimages
                    img.testfaceImgs(src=Probe_img, alt='A', name='0', id='imgL', style='height:450px; margin-left:55px; width: 41%;')
                    img.testfaceImgs(src= Gallery_img, alt='B', name='1', id='imgR', style='height:450px; width: 41%;')
                
            div(class='down', style='margin-top: 330px; font-size: 1.0em; text-align: justify; margin-left: 40px; margin-right: 5px;')
                p
                |In this example, you can observe that both explainability maps
                strong &nbsp;A 
                | and 
                strong B
                |&nbsp;highlight the mouth, nose, and the hair regions as the dissimilar regions in
                |the probe-gallery pair relevant to reach the rejection face verification decision. Considering that both 
                |explainability maps highlight almost the same face regions it can be concluded that explainability maps   
                strong A 
                |and 
                strong B 
                |are equivalent.
                p(style='margin-top: -18px; font-size: 1.0em;')
                span_train &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; So, you are expected to click on "A and B equivalent".

        div(class='TestSplitRight', style='margin-left: 40px; margin-right: 0px; font-size: 1.0em; margin-top: -5px;')
            
            div(class='TopDivision', style='margin-left: -70px;')
        
            form(action='/train_2' method='POST')
               div(class='bottomDivision')
                    div(class='div1')
                        div(class='div1_1', style='float:left;')
                            img.testfaceHM(src=First_HM, alt='A', name='0', id='imgL', style='height:480px; margin-left: 180px; width: 70%; margin-top: 46px;')
                        div(class='div1_2', style='float:right; margin-right:30px; margin-top:-280px; font-size: 1.1em; ')
                            |Explainability Map
                            p(style='margin-top: -30px;')
                            | A
                    div(class='div2')
                        div(class='div2_1', style='float:left;')
                            img.testfaceHM(src= Second_HM, alt='B', name='1', id='imgR', style='height:480px; margin-left:180px; width: 70%; margin-top: 46px;')
                        div(class='div2_2', style='float:right; margin-right:30px; margin-top:-280px; font-size: 1.1em;')
                            |Explainability Map 
                            p(style='margin-top: -30px;')
                            | B
                    div(class='div3')
                       
                        p(style='margin-bottom: -20px')
                            button.btn-test(style='margin: 98px auto auto -100px;', disabled=true) 
                                b A
                                |&nbsp;better than 
                                b B
                            button.middle-btn-test(style='margin: 98px auto auto 20px;') 
                                b A 
                                |and 
                                b B 
                                |equivalent
                            button.btn-test(style='margin: 98px auto auto 20px;', disabled=true) 
                                b B 
                                |&nbsp;better than 
                                b A
                    

        
                    
        
        
 
    
    script.
        //- document.addEventListener("keydown", function onEvent(event){
        //- if (event.key === "ArrowLeft") {
        //- document.getElementById("A").click();
        //- }
        //- if (event.key === "ArrowDown") {
        //- document.getElementById("AB").click();
        //- }
        //- if(event.key === "ArrowRight"){
        //- document.getElementById("B").click();
        //- }});

        // window.onload = function(){ 
        //        if( window.innerHeight != screen.height) {
        //            alert('For better experience, go to full screen mode by pressing F11 on your keyboard.')
        //            }
        //}
    


        
