doctype html 
html 
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap' rel='stylesheet')   
   
    head
        link(rel='icon', href='./public/images/icons/it_logo.png')
        title Face Verification Explainability Performance Subjective Assessment
        style
           include style.css
  
    body(style='font-size: 5.0em; text-align: center; display:flex;  flex-direction: column; justify-content: space-evenly;  height: 98vh; rowbackground-color: #F8F8FF; background: #C0C0C0;')
    
        strong PLEASE PRESS F11 ON YOUR KEYBOARD TO ENTER THE FULL SCREEN MODE
    
    div(class='ButtonForm', style='font-size: 0.6em;')
        form(name='NextButtonform', method="POST", action="/Start1", id = 'form', autocomplet='off',required)
                button.ButtonFullScreen(id='NextButton',type="submit") Start

    script.
        if(screen.width < 1920 || screen.height < 1080){
            alert("To take part in this test you need a display resolution of at least: 1920x1080.\nCurrently your resolution is "+ screen.width+ "x"+ screen.height+".");
            document.getElementById("start_button").disabled = true;
        }
        if(screen.width >= 1920 && screen.height >= 1080)
            document.getElementById("start_button").disabled = false;

        var res = [screen.width, screen.height];
        var f = document.getElementById('form');
        i = document.createElement("Input");
        i.setAttribute("type", "hidden");
        i.setAttribute("value", res);
        i.setAttribute("name", "resolution")
        f.appendChild(i);
